* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #f9c5bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding: 10px;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    background-color: #fbe3e8;
    height: 80vmin;
    width: 80vmin;
}   

tr, td {
    border: 1px solid black;
}

.snake {
    background-color: #f9c5bd;
}

#apple {
    background-color:  white;
}

#button {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
}

