* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: rgb(117, 178, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding: 10px;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    background-color: rgba(0, 0, 0, 0.889);
    border-style: 1px; color: aliceblue;
    height: 80vmin;
    width: 80vmin;
}   

tr, td {
    border: 1px solid aliceblue;
}

.snake {
    background-color: rgb(117, 178, 231);
}

#apple {
    background-color: goldenrod;
}

#button {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
}

